/.vs/VSWorkspaceState.json
/.vs/AdventOfCode/FileContentIndex/8cc66652-c703-4013-9fc4-a23bab75c6dd.vsidx
/.vs/AdventOfCode/v17/.wsuo
/.vs/AdventOfCode/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/AdventOfCode/.vs/AdventOfCode/DesignTimeBuild/.dtbcache.v2
/AdventOfCode/.vs/AdventOfCode/FileContentIndex/2ef4eb02-7356-444d-ba39-fce7df352152.vsidx
/AdventOfCode/.vs/AdventOfCode/FileContentIndex/8b3ecdfc-8380-4084-a2b5-05fe7fcc113d.vsidx
/AdventOfCode/.vs/AdventOfCode/FileContentIndex/8dbdad2d-c881-430e-937b-9c57d32703c1.vsidx
/AdventOfCode/.vs/AdventOfCode/FileContentIndex/abdcaf7e-3f33-4dcd-b3db-ce25647b4c62.vsidx
/AdventOfCode/.vs/AdventOfCode/FileContentIndex/b8cda321-eaa0-49bd-bf7a-3a3e181bbfef.vsidx
/AdventOfCode/.vs/AdventOfCode/v17/.suo
/AdventOfCode/.vs/AdventOfCode/v17/DocumentLayout.json
/AdventOfCode/.vs/AdventOfCode/FileContentIndex/c89fed06-6bd6-45cf-a3ee-eae224ac18df.vsidx
/AdventOfCode/AdventOfCode/bin/Debug/net8.0/AdventOfCode.deps.json
/AdventOfCode/AdventOfCode/bin/Debug/net8.0/AdventOfCode.dll
/AdventOfCode/AdventOfCode/bin/Debug/net8.0/AdventOfCode.exe
/AdventOfCode/AdventOfCode/bin/Debug/net8.0/AdventOfCode.pdb
/AdventOfCode/AdventOfCode/bin/Debug/net8.0/AdventOfCode.runtimeconfig.json
/AdventOfCode/AdventOfCode/obj/AdventOfCode.csproj.nuget.dgspec.json
/AdventOfCode/AdventOfCode/obj/AdventOfCode.csproj.nuget.g.props
/AdventOfCode/AdventOfCode/obj/AdventOfCode.csproj.nuget.g.targets
/AdventOfCode/AdventOfCode/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/AdventOfCode/AdventOfCode/obj/Debug/net8.0/AdventOfCode.AssemblyInfo.cs
/AdventOfCode/AdventOfCode/obj/Debug/net8.0/AdventOfCode.AssemblyInfoInputs.cache
/AdventOfCode/AdventOfCode/obj/Debug/net8.0/AdventOfCode.assets.cache
/AdventOfCode/AdventOfCode/obj/Debug/net8.0/AdventOfCode.csproj.BuildWithSkipAnalyzers
/AdventOfCode/AdventOfCode/obj/Debug/net8.0/AdventOfCode.csproj.CoreCompileInputs.cache
/AdventOfCode/AdventOfCode/obj/Debug/net8.0/AdventOfCode.csproj.FileListAbsolute.txt
/AdventOfCode/AdventOfCode/obj/Debug/net8.0/AdventOfCode.dll
/AdventOfCode/AdventOfCode/obj/Debug/net8.0/AdventOfCode.GeneratedMSBuildEditorConfig.editorconfig
/AdventOfCode/AdventOfCode/obj/Debug/net8.0/AdventOfCode.genruntimeconfig.cache
/AdventOfCode/AdventOfCode/obj/Debug/net8.0/AdventOfCode.GlobalUsings.g.cs
/AdventOfCode/AdventOfCode/obj/Debug/net8.0/AdventOfCode.pdb
/AdventOfCode/AdventOfCode/obj/Debug/net8.0/apphost.exe
/AdventOfCode/AdventOfCode/obj/Debug/net8.0/ref/AdventOfCode.dll
/AdventOfCode/AdventOfCode/obj/Debug/net8.0/refint/AdventOfCode.dll
/AdventOfCode/AdventOfCode/obj/project.assets.json
/AdventOfCode/AdventOfCode/obj/project.nuget.cache
/AdventOfCode/AdventOfCode/bin/Debug/net8.0/2024/Input/Day1.txt
/.vs/AdventOfCode/FileContentIndex/60bbeba0-aacc-4296-9b56-2d49798c52c1.vsidx
/.vs/AdventOfCode/FileContentIndex/75b7cd92-c16f-4c00-a8e1-e680f58b6cd8.vsidx
/.vs/AdventOfCode/FileContentIndex/a6735d46-7a6d-4be5-a9b2-e20308d7f0d0.vsidx
/.vs/AdventOfCode/FileContentIndex/f93671e4-ed76-4c44-bfbb-d08729a006dd.vsidx
